.header-container {
  height: 70vh;
  /* background-color: rgba(0, 0, 0, 0.8); */
  background-color: rgb(202, 202, 123);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin: 0;
}

.wrapper {
  padding: 20px 10px;
  /* background-color: white; */
  display: flex;
  padding: 10px 5px;
  margin: 20px 5px;
  width: 60vw;
  align-items: center;
  justify-content: center;
}

.wrapper input[type='text'] {
  padding: 10px 25px;
  background: transparent;
  width: 60vw;
  border: none;
  line-height: 1.2em;
  border-bottom: 1px solid black;
  margin-right: 5px;

  /* border-radius: 50px 0 0 50px; */
  font-size: 18px;
  color: black;
}

.wrapper select {
  padding: 10px 5px;
  width: 20vw;
  border: none;
  margin-right: 5px;

  font-size: 18px;
}

.wrapper button {
  padding: 10px 5px;
  width: 20vw;
  border: none;
  margin-right: 5px;
  border-radius: 0 50px 50px 0;
  font-size: 18px;
  background-color: brown;
  color: white;
  cursor: pointer;
}

.wrapper input[type='text']:focus,
.wrapper button:focus,
.wrapper select:focus {
  outline: none;
}

@media only screen and (min-width: 900px) {
  .wrapper {
    width: 700px;
  }
}

@media only screen and (max-width: 750px) {
  .header-container {
    height: 50vh;
  }
  .wrapper {
    width: 100vw;
  }
}
