.results-container {
  width: 100vw;
  /* height: 100vh; */
  background-color: rgb(202, 202, 123);
  margin: 30px;
  padding: 20px;
}

.results {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  flex: 50%;
  justify-content: center;
  align-items: center;
}
