* {
  box-sizing: border-box;
}

.card {
  color: green;
  padding: 20px;
  width: auto;
  /* height: 250px; */
  height: 200px;
  width: 200px;
  background-color: aliceblue;
  /* margin: 10px; */

  /* justify-content: center; */
  text-align: center;

  font-size: 40px;
  font-weight: 800;
  letter-spacing: 2px;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.1);
}

.card p {
  color: black;

  text-align: center;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 2px;
}
