@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Bangers&family=Dancing+Script&family=Indie+Flower&family=Lato:wght@100&family=New+Tegomin&family=Noto+Sans+JP:wght@100&family=Orelega+One&family=Original+Surfer&family=Pacifico&family=Roboto:wght@100&family=Shadows+Into+Light&family=Source+Sans+Pro:wght@200&family=Ubuntu+Mono&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  font-family: 'Architects Daughter', cursive;
}
